footer {
  align-self: flex-end;
  width: 100%;
  height: 300px;
  background-color: $footer_bg;
  .wavy {
    width: 100%;
    height: 130px;
    position: relative;
    background: url("../img/wave.png");
    background-size: 100% 100px;
    top: -100px;
    background-repeat: repeat-x;
  }
  .wavy1 {
    animation: footer_wavy 90s linear infinite;
    animation-delay: 0s;
  }
  .wavy2 {
    animation: footer_wavy 60s linear infinite;
    animation-delay: -10s;
    top: -250px;
    opacity: 0.5;
  }
}