@mixin flex($flex_content, $items_content) {
  display: flex;
  justify-content: $flex_content;
  align-items: $items_content;
}
@mixin trans($transition) {
  transition: $transition;
}

header {
  @include flex(space-between, center);
  margin-top: 30px;
  margin-bottom: 100px;
  h1.logo {
    cursor: pointer;
    position: relative;
    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      background-color: #333;
      left: 0;
      margin-left: 35px;
      @include trans(0.5s);
    }
    &::after {
      top: 0;
    }
    &::before {
      top: 45px;
    }
    &:hover::after,
    &:hover::before {
      width: 100%;
      margin-left: 0;
      @include trans(0.5s);
    }
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    width: 600px;
    font-size: 18px;
    li {
      display: inline-block;
      cursor: pointer;
      width: 130px;
      text-align: center;
      a {
        color: #333;
        text-decoration: none;
        @include trans(0.5s);
        &:hover {
          letter-spacing: 2px;
          color: #333;
        }
      }
    }
  }
}
