@font-face {
  font-family: "FiraSans";
  src: url("../fonts/FiraSans-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "FiraSans", sans-serif;
  background: #e7e3ed;
  overflow-x: hidden;
}

article {
  width: 50%;
  padding: 30px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 15px 5px #c0bcc5;
          box-shadow: 0 0 15px 5px #c0bcc5;
}

article h1 {
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

article button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #033c51;
  color: black;
  background-color: inherit;
  float: right;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

article button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #033c51;
  color: #fff;
}

.left,
.right {
  margin-bottom: 300px;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.right article {
  text-align: right;
}

.right article button {
  float: left;
}

article.left-first {
  position: relative;
  -webkit-animation: block-from-left 1.5s;
          animation: block-from-left 1.5s;
}

.animjs,
#blockright,
#blockleft {
  position: relative;
}

img.img-first {
  position: relative;
  -webkit-animation: opacityBG 2s;
          animation: opacityBG 2s;
}

@-webkit-keyframes footer_wavy {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1920px;
  }
}

@keyframes footer_wavy {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1920px;
  }
}

@-webkit-keyframes block-from-left {
  0% {
    opacity: 0;
    left: -1000px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes block-from-left {
  0% {
    opacity: 0;
    left: -1000px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@-webkit-keyframes block-from-right {
  0% {
    opacity: 0;
    right: -1000px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

@keyframes block-from-right {
  0% {
    opacity: 0;
    right: -1000px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

@-webkit-keyframes block-from-top {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

@keyframes block-from-top {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

@-webkit-keyframes opacityBG {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityBG {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 770px) {
  .adaptive {
    display: none;
  }
  article {
    width: 100%;
  }
  article.left-first {
    -webkit-animation: block-from-top 1.5s;
            animation: block-from-top 1.5s;
  }
}

@media (max-width: 430px) {
  .adaptive {
    display: none;
  }
  header {
    margin-left: -45px;
  }
  header h1 {
    display: none;
  }
  article {
    margin-left: 100px;
  }
  article.left-first {
    -webkit-animation: block-from-top 1.5s;
            animation: block-from-top 1.5s;
  }
}
/*# sourceMappingURL=main.css.map */