$inputbg_color: #e7e3ed;

@mixin flex($flex_content, $items_content) {
  display: flex;
  justify-content: $flex_content;
  align-items: $items_content;
}
@mixin trans($transition) {
  transition: $transition;
}

.auth {
  @include flex(center, center);
  width: 100%;
  height: 500px;
  margin-bottom: 300px;
  border-radius: 10px;
  .sign_in,
  .sign_up {
    @include flex(center, center);
    background-color: #fff;
    position: relative;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    animation: opacityBG 1s;
    form {
      @include flex(center, center);
      flex-direction: column;
    }
    h1 {
      font-weight: 900;
      margin-bottom: 20px;
      font-size: 30px;
    }
    input {
      margin-bottom: 20px;
      width: 100%;
      height: 30px;
      padding: 20px;
      border-radius: 10px;
      border: 1px solid $inputbg_color;
      background-color: $inputbg_color;
      outline: none;
      @include trans(1s);
      &:focus {
        width: 130%;
        @include trans(1s);
      }
    }
    button {
      margin-top: 10px;
      border-radius: 20px;
      color: #fff;
      padding: 12px 65px;
      letter-spacing: 5px;
      text-transform: uppercase;
      background-color: #022b3a;
      border: none;
      position: relative;
      @include trans(0.5s);
      &:active {
        transform: scale(0.9);
      }
    }
  }
  .sign_in {
    form {
      a {
        color: rgb(83, 79, 79);
        text-decoration: none;
        font-family: "Tahoma", sans-serif;
        margin-bottom: 20px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 1px;
          background-color: #46444b;
          left: 50%;
          top: 100%;
          @include trans(0.5s);
        }
        &:hover::after {
          width: 100%;
          left: 0;
          @include trans(0.5s);
        }
      }
    }
  }
}
.sign_up {
  input {
    &:focus {
      width: 115% !important;
    }
  }
  a {
    color: rgb(83, 79, 79);
    text-decoration: none;
    font-family: "Tahoma", sans-serif;
    margin-bottom: 20px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 1px;
      background-color: #46444b;
      left: 50%;
      top: 100%;
      @include trans(0.5s);
    }
    &:hover::after {
      width: 100%;
      left: 0;
      @include trans(0.5s);
    }
  }
}
  .donthaveacc {
    margin-top: 50px;
  }
footer {
  position: absolute;
  width: 100%;
  left: 0;
}
@keyframes opacityBG {
  0% {opacity: 0;}
  100% {opacity: 1;}
}