$bgcBody: #e7e3ed;
$homeFont: "FiraSans";
$btn_bg: #033c51;

@font-face {
  font-family: $homeFont;
  src: url("../fonts/FiraSans-Regular.ttf");
}

@mixin trans($transition) {
  transition: $transition;
}
@mixin flex($flex_content, $items_content) {
  display: flex;
  justify-content: $flex_content;
  align-items: $items_content;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $homeFont, sans-serif;
  background: $bgcBody;
  overflow-x: hidden;
}
article {
  width: 50%;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 15px 5px #c0bcc5;
  h1 {
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  button {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid $btn_bg;
    color: black;
    background-color: inherit;
    float: right;
    @include trans(0.5s);
    &:hover {
      transform: scale(1.1);
      background-color: $btn_bg;
      color: #fff;
    }
  }
}
.left,
.right {
  margin-bottom: 300px;
}
.left {
  @include flex(space-between, center);
}
.right {
  @include flex(space-between, center);
  flex-direction: row-reverse;
  article {
    text-align: right;
    button {
      float: left;
    }
  }
}
article.left-first {
  position: relative;
  animation: block-from-left 1.5s;
}
.animjs,
#blockright,
#blockleft {
  position: relative;
}
img.img-first {
  position: relative;
  animation: opacityBG 2s;
}
@keyframes footer_wavy {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1920px;
  }
}
@keyframes block-from-left {
  0% {
    opacity: 0;
    left: -1000px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes block-from-right {
  0% {
    opacity: 0;
    right: -1000px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}
@keyframes block-from-top {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
@keyframes opacityBG {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 770px) {
  .adaptive {
    display: none;
  }
  article {
    width: 100%;
  }
  article.left-first {
    animation: block-from-top 1.5s;
  }
}
@media (max-width: 430px) {
  .adaptive {
    display: none;
  }
  header {
    margin-left: -45px;
    h1 {
      display: none;
    }
  }
  article {
    margin-left: 100px;
  }
  article.left-first {
    animation: block-from-top 1.5s;
  }
}