@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.checkLink {
	display: none;
}
body {
	background: #E7E3ED;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
}
.compName {
	cursor: pointer;
	font-family: 'Dosis', sans;
	font-size: 25px;
	font-weight:200;
}
.ex1 {position:relative}
.ex1 h1:after  {content: "";
	position: absolute;
	height: 2px;
	width: 100px;
	background:#022B3A;
	top: 130%;
	margin: 0 auto;
	left: 0;
	right: 0;}
	.ex1 h1:before {content: "";
		position: absolute;
		height: 2px;
		width: 100px;
		background:#022B3A;
		top: -40%;
		margin: 0 auto;
		left: 0;
		right: 0;}
::selection {
	background-color: #BFDBF7;
	color: black;
}


.link {
	width:150px;
	display: block;
	height:33px;
	 margin: 20px auto;
	font-family: 'Dosis', sans;
	font-size: 18px;
	font-weight:200;
	color:#000;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
	position: relative;
	margin-left: 30px;
	padding: 5px;
	opacity:.8;
	letter-spacing: 1px;
	  -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	 -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	   -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
		  transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
  }
.link:hover {
	margin: 20px auto;
	opacity:1;
	margin-left: 30px;
	letter-spacing: 4px;
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	 -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
	   -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
		  transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
  }
.link img {
	display: inline-block;
    vertical-align: middle;
}

.olNav {
	display: flex;
	justify-content: space-between;
	align-items:center;
	list-style-type: none;
}
li {
	display: block;
	margin: 30px;
}
.menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 90px;
	margin-bottom: 120px;
}
h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}
.ex1 a {
	font-size: 25px;
}
a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}
button {
	border-radius: 20px;
	border: 1px solid #022B3A;
	background-color: #022B3A;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	margin: 0 auto;
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
	animation: opacityForm 1.5s ease-in-out;
}
@keyframes opacityForm {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #378f7b;
	background: -webkit-linear-gradient(45deg, #022B3A, #033c51);
	background: linear-gradient(45deg, #022B3A, #033c51);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
footer {
    display: block;
    width: 100%;
    height: 200px;
    background-color: #022B3A;
    margin-top: 200px;
}